
@{
    ViewData["Title"] = "ListaPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Estilos {
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css" rel="stylesheet">

}  

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Pedidos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn-success" id="btnNuevoPago"><i class="fas fa-user-plus"></i>Nuevo Pedido</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbDataListaPedidos" width="100%" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-nowrap d-none d-sm-table-cell">N°</th>
                            <th class="text-nowrap d-none d-sm-table-cell">Codigo</th>
                            <th>Monto De Pedido</th>
                            <th>Fecha De Entrega</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<!-- Ventana modal -->
<div class="modal fade" id="modalDataListaDetalle" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Buscar Productos</h5>
                @*                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <!-- Aquí va el contenido del formulario de búsqueda -->
                <!-- Aquí se muestra la tabla de productos -->
                <table class="table table-striped" id="">
                    <!-- Aquí van las filas de la tabla -->
                    <thead>
                        <tr>
                            <th>Numero de Pedido</th>
                            <th>DetallePedido</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="DetalleBuscado">
                    </tbody>
                </table>
                <!-- Aquí se muestra la paginación -->
            </div>
            <div class="modal-footer">
                <nav id="DetallePagination" class="pagination justify-content-center" aria-label="Page navigation example">

                </nav>
            </div>
        </div>
    </div>
</div>

