
@{
    ViewData["Title"] = "MisPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/estilos.css" rel="stylesheet" />
} 


<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Pedidos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" id="btnNuevoPedido"><i class="fas fa-shopping-cart"></i>  Nuevo Pedido</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered display responsive nowrap" id="tbDataMisPedidos" width="100%" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Codigo</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<!-- Ventana modal -->
<div class="modal fade" id="modalDataMiDetalle" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-center modal-fullscreen-md-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Mis Pedidos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí va el contenido del formulario de búsqueda -->

                
                <!-- Aquí se muestra la tabla de productos -->
                <div class="col-sm-12">
                <div class="table-responsive">
                <table class="table table-sm table-hover" id="tbProductosDetalle">
                    <!-- Aquí van las filas de la tabla -->
                    <thead>
                        <tr>
                            <th class="text-nowrap d-none d-sm-table-cell">Numero de Pedido</th>
                            <th class="text-nowrap d-none d-sm-table-cell">DetallePedido</th>
                            <th class="text-nowrap">Producto</th>
                            <th class ="text-nowrap">Precio</th>
                            <th class ="text-nowrap">Cantidad</th>
                            <th class="text-nowrap">Total</th>
                        </tr>
                    </thead>
                    <tbody id="DetalleBuscado">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" id="textoTotalDetalle" class="font-weight-bold">Monto Total S/:</td>
                            <td id="montoTotalDetalle"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
               </div>
                <!-- Aquí se muestra la paginación -->
            </div>
           </div>
            <div class="modal-footer">
                <nav id="DetallePagination" class="pagination justify-content-center" aria-label="Page navigation example">

                </nav>
            </div>
        </div>
    </div>
</div>





@section Scripts {


    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>


    <script src="~/js/Vistas/MisPedidos.js"></script>


}