
@{
    ViewData["Title"] = "NuevoPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* @section Estilos{

    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">

    <style>
        .select2{

            width:100% !important;
        }

    </style>
} *@

@section Estilos {
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/Estilos.css" rel="stylesheet">

    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
}





<div class="container-fluid p-0 m-0">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-primary">
                            <h6 class="m-0 font-weight-bold text-white">Pedidos</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-12 col-md-4">
                                    <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" placeholder="numero documento">
                                </div>
                                <div class="form-group col-12 col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm input-validar" placeholder="Ingrese nombre del cliente" id="txtNombreCliente" name="NombreCliente" aria-describedby="btnCliente" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-sm" type="button" id="btnCliente"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    
@*                                     <select class="form-control form-control-sm" id="cboNombreCliente">
                                        <option value=""disabled selected hidden>Seleccione Nombre del cliente</option>
                                    </select> *@
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md-4">
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtFechaDeEntrega" placeholder="Fecha De Entrega" name="Fecha de Entrega">
                                </div>
                                <div class="form-group col-12 col-md-4">
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtDireccionCliente" placeholder="Direccion" disabled name="Direccion">
                                </div>
                                <div class="form-group col-12 col-md-4">
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtTelefonoCliente" placeholder="Telefono" disabled name="Telefono">
                                </div>
                            </div>                                
                            <div class="text-right mb-3">
                                <button class="btn btn-danger btn-sm" type="button" id="btnGuardar">Agregar Productos</button>
                                <button class="btn btn-primary  btn-sm" type="button" id="btnEnviarPedido">Realizar Pedido</button>
                            </div>
                        </div>                       
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover" id="tbProductosSeleccionados">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap d-none d-sm-table-cell">N° Pedido</th>
                                        <th class="text-nowrap">Producto</th>
                                        <th class="text-nowrap d-none d-sm-table-cell">Categoria</th>
                                        <th class="text-nowrap">Cantidad</th>
                                        <th class="text-nowrap">Precio</th>
                                        <th class="text-nowrap">Importe</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tablaProductos">

                                </tbody>
                                <tfoot>
                                    <tr>
                                    <td colspan="5" id="textoTotal">Monto Total S/:</td>
                                    <td id="montoTotal"></td>
                                    <td></td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        </div>
                    </div>
                </div>             

            </div>


        </div>


<div class="modal fade" id="modalDataPedidoCliente" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel3">Buscar Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí va el contenido del formulario de búsqueda -->
                <div class="row">
                    <div class="col-12">
                        <!-- Input para la búsqueda -->
                        <input type="text" id="BuscarNombreCliente" class="form-control" placeholder="Buscar...">
                    </div>
                    @*                    <div class="col-2">
                    <!-- Botón para iniciar la búsqueda -->
                    <button type="button" class="btn btn-primary btn-block">Buscar</button>
                    </div>*@
                </div>
                <br>
                <!-- Aquí se muestra la tabla de productos -->
                <table class="table table-striped" id="BuscandoClientes">
                    <!-- Aquí van las filas de la tabla -->
                    <thead>
                        <tr>
                            <th class="text-nowrap d-none d-sm-table-cell">N°</th>
                            <th>Dni</th>
                            <th>Cliente</th>
                            <th class="text-nowrap d-none d-sm-table-cell">Correo</th>
                            <th class="text-nowrap d-none d-sm-table-cell">Direccion</th>
                            <th>Telefono</th>
                        </tr>
                    </thead>
                    <tbody id="ClienteBuscado">
                    </tbody>
                </table>
                <!-- Aquí se muestra la paginación -->
            </div>
            <div class="modal-footer">
                <nav id="paginacionCliente" class="pagination justify-content-center" aria-label="Page navigation example">

                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Ventana modal -->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Buscar Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí va el contenido del formulario de búsqueda -->
                <div class="row">
                    <div class="col-12">
                        <!-- Input para la búsqueda -->
                        <input type="text" id="BusquedaPedidos" class="form-control" placeholder="Buscar...">
                    </div>
@*                    <div class="col-2">
                        <!-- Botón para iniciar la búsqueda -->
                        <button type="button" class="btn btn-primary btn-block">Buscar</button>
                    </div>*@
                </div>
                <br>
                <!-- Aquí se muestra la tabla de productos -->
                <div class="table-responsive">
                <table class="table table-striped table-sm align-middle" id="DataProducto">
                    <!-- Aquí van las filas de la tabla -->
                    <thead>
                    <tr>
                        <th scope="col" class="d-none d-md-table-cell">Codigo</th>
                        <th scope="col">Producto</th>
                        <th scope="col" class="d-none d-md-table-cell">Categoria</th>
                        <th scope="col" class="d-none d-md-table-cell">Stock</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Acciones</th>
                     </tr>
                    </thead>
                    <tbody id="ProductoBuscado">

                    </tbody>
                </table>
                </div>
                <!-- Aquí se muestra la paginación -->      
            </div>
            <div class="modal-footer">
                <nav id="Paginations" class="pagination justify-content-center" aria-label="Page navigation example">

                </nav>
            </div>
        </div>
    </div>
</div>



<script>
    var userRol = "@(User.IsInRole("Administrador") ? "Administrador" : User.IsInRole("Cliente") ? "Cliente": "otro")";
</script>

    @section Scripts{


    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>

    <script src="~/js/Vistas/PedidoIndex.js"></script>

}

