@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card shadow mb-12">
            <div class="card-header py-3 bg-primary">
                <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-user"></i> Mis Datos</h6>
            </div>

            <div class="card-body">
                <form id="formulario">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <div>
                                <img id="ImgFoto" class="rounded mx-auto d-block" src="" style="width:100px;height:100px;" />
                            </div>
                            <hr />
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" id="txtFoto" />
                                <label class="custom-file-label" for="txtFoto">Foto</label>
                            </div>
                        </div>
                        <div class="form-group col-10">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="txtDni">Documento de Identidad</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDni" />
                                </div>
                                <div class="form-group col-4">
                                    <label for="txtNombres">Nombres</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNombres" />
                                </div>                                
                                <div class="form-group col-4">
                                    <label for="txtApellidos">Apellidos</label>
                                    <input type="text" class="form-control form-control-sm" id="txtApellidos" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="txtCorreo">Correo</label>
                                    <input type="text" class="form-control form-control-sm" id="txtCorreo" />
                                </div>
                                <div class="form-group col-4">
                                    <label for="txtNombreUsuario">Usuario</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNombreUsuario" />
                                </div>                                
                                <div class="form-group col-4">
                                    <label for="txtClave">Contraseña</label>
                                    <input type="password" class="form-control form-control-sm" id="txtClave" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="txtIdRol">Rol</label>
                                    <select disabled class="form-control form-control-sm input-validar" id="txtIdRol">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-sm" type="button" id="btnGuardarCambios">Guardar Cambios</button>
                        @*                         <button class="btn btn-primary  btn-sm" type="button" id="btnEnviarPedido">Realizar Pedido</button> *@
                    </div>
                    @*                     <div class="form-row">
                    <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-success btn-sm btn-block" id="btnGuardarCambios">Guardar Cambios</button>
                    </div>
                    </div> *@
                </form>
            </div>
        </div>
    </div>

</div>



@section Scripts {



    <script src="~/js/Vistas/PerfilUsuario.js"></script>

}
