
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {

    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css" rel="stylesheet">

}


@* 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose Email</title>

</head>
<body>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-light">
                <h5 class="mb-0">Nuevo Mensaje</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="toEmail" class="col-sm-2 col-form-label">Para</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="toEmail" placeholder="example@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ccEmail" class="col-sm-2 col-form-label">CC</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="ccEmail" placeholder="example@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="subject" class="col-sm-2 col-form-label">Asunto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="subject" placeholder="Asunto del mensaje">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="messageBody" class="col-sm-2 col-form-label">Mensaje</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="messageBody" rows="10" placeholder="Escribe tu mensaje aquí..."></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary">Enviar</button>
                <button class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>


</body>
</html> *@


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Mensajes</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success" id="btnNuevoMensaje"><i class="fas fa-plus-circle"></i> Nuevo Mensaje</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbDataMensajes" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Asunto</th>
                                <th>Cuerpo</th>
                                <th>Remitente</th>
                                <th>Destinatario</th>
                                <th>CorreoRemitente</th>
                                <th>CorreoDestinatario</th>
                                <th>IdRespuestaMensaje</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalDataMensaje" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Mensaje</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>
                        <input type="hidden" value="0" id="txtIdMensaje">
                        <div class="form-group row">
                            <label for="subject" class="col-sm-2 col-form-label">Asunto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-validar" id="txtAsunto" placeholder="Asunto del mensaje">
                            </div>
                        </div>                        
                        <div class="form-group row">
                            <label for="ccEmail" class="col-sm-2 col-form-label">De</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control input-validar" id="txtCorreoRemitente" placeholder="example@example.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="toEmail" class="col-sm-2 col-form-label">Para</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control input-validar" id="txtCorreoDestinatario" placeholder="example@example.com">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="messageBody" class="col-sm-2 col-form-label">Mensaje</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="txtCuerpo" rows="10" placeholder="Escribe tu mensaje aquí..."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardarMensaje">Guardar</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDataMensajeRespuesta" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Respuesta del Mensaje</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>
                        <input type="hidden" value="0" id="txtResptIdMensaje">
                        <div class="form-group row">
                            <label for="subject" class="col-sm-2 col-form-label">Asunto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-validar" id="txtResptAsunto" placeholder="Asunto del mensaje">
                            </div>
                        </div>
                        <div class="form-group row" style="display:none">
                            <label for="ccEmail" class="col-sm-2 col-form-label">De</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control input-validar" id="txtResptCorreoRemitente" placeholder="example@example.com">
                            </div>
                        </div>
                        <div class="form-group row" style="display:none">
                            <label for="toEmail" class="col-sm-2 col-form-label">Para</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control input-validar" id="txtResptCorreoDestinatario" placeholder="example@example.com">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="messageBody" class="col-sm-2 col-form-label">Mensajes</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="DetalleAsuntoMensaje" style="height: 150px; overflow-y: auto; border: 1px solid #ced4da; padding: 10px;" placeholder="Escribe tu mensaje aquí..."></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="messageBody" class="col-sm-2 col-form-label">Escribe Tu Mensaje</label>
                            <div class="col-sm-10">
                                <div class="form-control" id="txtMensajeRespuesta" contenteditable="true" style="height: 100px; overflow-y: auto; border: 1px solid #ced4da; padding: 10px;" placeholder="Escribe tu mensaje aquí..."></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnRespuestaDelMensaje">Responder</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var userRol = "@(User.IsInRole("Administrador") ? "Administrador" : User.IsInRole("Cliente") ? "Cliente" : "otro")";
</script>

@section Scripts {

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/Vistas/MensajeIndex.js"></script>

}
