
@{
    ViewData["Title"] = "NuevoPago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Estilos{
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css" rel="stylesheet">

@*    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">

    <style>
        .select2 {
            width: 100% !important;
        }

    </style>*@
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Pagos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" id="btnNuevoPago"><i class="fas fa-plus-circle"></i> Nuevo Pago</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdataPago" width="100%" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>IdPago</th>
                            <th>Monto De Pedido</th>
                            <th>Descuento</th>
                            <th>Monto De Pago</th>
                            <th>Deuda</th>
                            <th>Cliente</th>
                            <th>Fecha De Pago</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDataPago" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle de Pago</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="close" id="btnClosePago">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formularioPago">                   
                    <div class="container">
                        <input  type="hidden" value="0" id="txtIdPedido" />
                        <input  type="hidden" value="0" id="txtIdPago" />
                        <input  type="hidden" value="0" id="txtPagoAPagar" />
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="txtCodigoPedido">Codigo de Pedido</label>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm input-validar" placeholder="Ingrese codigo de Producto" id="txtCodigoPedido" name="Codigo" aria-describedby="btnCodPedido" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-sm" type="button" id="btnCodPedido"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="txtMontoPedido">Monto De Pedido</label>
                                <input type="text" class="form-control form-control-sm input-validar" id="txtMontoPedido" name="MontoPedido" />
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="txtDevolucion">Devoluciones</label><br />
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label mr-2" for="opcion1">Si</label>
                                    <input class="form-check-input" type="radio" name="opcion" id="opcion1" value="opcion1" />                                    
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label mr-2" for="opcion2">No</label>
                                    <input class="form-check-input" type="radio" name="opcion" id="opcion2" value="opcion2" />                                
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="txtNombres">Nombre Del Cliente</label>
                                <input type="text" class="form-control form-control-sm input-validar" id="txtNombres" name="Nombres" />
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="txtFechaPedido">Fecha Del Pedido</label>
                                <input type="text" class="form-control form-control-sm input-validar" id="txtFechaPedido" name="FechaPedido" />
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="txtFechaPago">Fecha De Pago</label>
                                <input type="text" class="form-control form-control-sm input-validar" id="txtFechaPago" name="FechaPago" />
                            </div>
                        </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtDescuento">Descuento</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtDescuento" name="Descuento" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtMontoPago">Monto Total de Pago</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtMontoPago" name="MontoPago" />
                                 </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtPagoCliente">Pago Del Cliente</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtPagoCliente" name="PagoCliente" />
                                </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <label for="txtDeuda">Deuda</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtDeuda" name="Deuda" />
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="txtCambio">Cambio Del Cliente</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCambio" name="Cambio" />
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="txtEstado">Estado</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtEstado" name="Estado" />
                                    </div>
                                </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardarPago">Guardar</button>
                <button class="btn btn-danger  btn-sm" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDataDescuento" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel2">Descuentos</h5>
                @*                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <!-- Aquí va el contenido del formulario de búsqueda -->
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="CodPedido">Codigo</label>
                        <input type="text" id="CodPedido" class="form-control form-control-sm" disabled/>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="txtImportePedido">Monto De Pedido</label>
                        <input type="text" class="form-control form-control-sm input-validar" disabled id="txtImportePedido" name="ImportePedido" />
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="txtDescuentoPedido">Descuento</label>
                        <input type="text" class="form-control form-control-sm input-validar" disabled id="txtDescuentoPedido" name="DescuentoPedido" />
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="txtImporteFinal">Monto A Pagar</label>
                        <input type="text" class="form-control form-control-sm input-validar" disabled id="txtImporteFinal" name="ImporteFinal" />
                    </div>                    

                </div>
                <div class="row">


                    @*                    <div class="col-2">
                    <!-- Botón para iniciar la búsqueda -->
                    <button type="button" class="btn btn-primary btn-block">Buscar</button>
                    </div>*@
                </div>
                <br>
                <!-- Aquí se muestra la tabla de productos -->

                <table class="table table-striped" id="tbDevoluciones">
                    <!-- Aquí van las filas de la tabla -->
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Descuento</th>
                        </tr>
                    </thead>
                    <tbody id="ProductoDevuelto">
                    </tbody>
                </table>
                <div class="modal-footer">

                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardarDescuento">Guardar</button>
          
                </div>
                <!-- Aquí se muestra la paginación -->
            </div>
            <div class="modal-footer">
                <nav id="paginacionDes" class="pagination justify-content-center" aria-label="Page navigation example">

                </nav>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDataPedidos" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel3">Buscar Productos</h5>
                @*                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <!-- Aquí va el contenido del formulario de búsqueda -->
                <div class="row">
                    <div class="col-12">
                        <!-- Input para la búsqueda -->
                        <input type="text" id="searchInputs" class="form-control" placeholder="Buscar...">
                    </div>
                    @*                    <div class="col-2">
                    <!-- Botón para iniciar la búsqueda -->
                    <button type="button" class="btn btn-primary btn-block">Buscar</button>
                    </div>*@
                </div>
                <br>
                <!-- Aquí se muestra la tabla de productos -->
                <table class="table table-striped" id="">
                    <!-- Aquí van las filas de la tabla -->
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Monto Total</th>
                            <th>Estado</th>
                            <th>Fecha De Pedido</th>
                        </tr>
                    </thead>
                    <tbody id="PedidoBuscado">
                    </tbody>
                </table>
                <!-- Aquí se muestra la paginación -->
            </div>
            <div class="modal-footer">
                <nav id="paginacion" class="pagination justify-content-center" aria-label="Page navigation example">

                </nav>
            </div>
        </div>
    </div>
</div>
 

@section Scripts{


    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>


    <script src="~/js/Vistas/PagoPedido.js"></script>
    <script src="~/js/Vistas/DescuentoDePago.js"></script>
    <script src="~/js/Vistas/ListaPedidos.js"></script>



}
